<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHc-nhb9oTpdk7N6deZtSxf-nPLkym9Rw</string>
	<key>GCM_SENDER_ID</key>
	<string>821717593480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clientApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aplavankula</string>
	<key>STORAGE_BUCKET</key>
	<string>aplavankula.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821717593480:ios:8f9dd7461d11f924f79e3d</string>
</dict>
</plist>